# Lecture - 5

In [52]:
import pandas as pd

In [53]:
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

In [54]:
df=pd.read_csv('pima-indians-diabetes.csv',names=names)

In [55]:
df

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [56]:
df.shape

(768, 9)

In [57]:
df.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [58]:
df.tail()

     preg  plas  pres  skin  test  mass   pedi  age  class
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

# 11.2 Algorithms Overview

**We are going to take a look at six classi cation algorithms that you can spot-check on your
 dataset. Starting with two linear machine learning algorithms:**

1.Logistic Regression.

2.Linear Discriminant Analysis.

**Then looking at four nonlinear machine learning algorithms:**

1.k-Nearest Neighbors

2.Naive Bayes.

3.Classification and Regression Trees.

4.Support Vector Machines.

# 11.3 Linear Machine Learning Algorithms

**11.3.1 Logistic Regression**

In [59]:
import warnings
warnings.filterwarnings("ignore")

In [60]:
 # Logistic Regression Classification
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.linear_model import LogisticRegression
 array = df.values
 X = array[:,0:8]
 Y = array[:,8]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model = LogisticRegression()
 results = cross_val_score(model, X, Y, cv=kfold)
 print(results.mean())

0.7786397812713604

# 11.3.2 Linear Discriminant Analysis

In [61]:
 #LDA Classification
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
 array = df.values
 X = array[:,0:8]
 Y = array[:,8]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model = LogisticRegression()
 results = cross_val_score(model, X, Y, cv=kfold)
 print(results.mean())
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 array = df.values
 X = array[:,0:8]
 Y = array[:,8]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model = LinearDiscriminantAnalysis()
 results = cross_val_score(model, X, Y, cv=kfold)
 print(results.mean())

0.7786397812713604
0.7669685577580315

#  11.4 Nonlinear Machine Learning Algorithms

**11.4.1 k-Nearest Neighbors**

In [62]:
import pandas as pd

In [63]:
 # KNN Classification
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.neighbors import KNeighborsClassifier
 array = df.values
 X = array[:,0:8]
 Y = array[:,8]
 num_folds = 7
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model = KNeighborsClassifier()
 results = cross_val_score(model, X, Y, cv=kfold)
 print(results.mean())

0.7109876965140123

**11.4.2 Naive Bayes**

In [64]:
 # Gaussian Naive Bayes Classification
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.naive_bayes import GaussianNB
 array = df.values
 X = array[:,0:8]
 Y = array[:,8]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model = GaussianNB() 
 results = cross_val_score(model, X, Y, cv=kfold)
 print(results.mean())

0.7591421736158578

**11.4.3 Classification and Regression Trees**

In [65]:
 # CART Classification
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.tree import DecisionTreeClassifier
 array = df.values
 X = array[:,0:8]
 Y = array[:,8]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model = DecisionTreeClassifier() 
 results = cross_val_score(model, X, Y, cv=kfold)
 print(results.mean())

0.6876452494873547

**11.4.4 Support Vector Machines**

In [66]:
import pandas as pd

In [67]:
 # SVM Classification
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.svm import SVC
 array = df.values
 X = array[:,0:8]
 Y = array[:,8]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model =  model = SVC()
 results = cross_val_score(model, X, Y, cv=kfold)
 print(results.mean())

0.760457963089542