In [11]:
import warnings
warnings.filterwarnings("ignore")

In [12]:
import pandas as pd

In [13]:
df=pd.read_csv('HousingData (Boston housing dataset).csv')

In [14]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [15]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [16]:
columns=['CRIM','ZN','INDUS','CHAS','AGE','LSTAT']

In [17]:
for i in columns:
    df[i].fillna(df[i].mean(),inplace=True)

In [18]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [19]:
df1=df.copy()

In [20]:
print(df1.shape)

(506, 14)

In [21]:
df1.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [22]:
df1.head(20)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.000000,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.980000,24.0
1,0.02731,0.0,7.07,0.000000,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.140000,21.6
2,0.02729,0.0,7.07,0.000000,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.030000,34.7
3,0.03237,0.0,2.18,0.000000,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.940000,33.4
4,0.06905,0.0,2.18,0.000000,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,12.715432,36.2
5,0.02985,0.0,2.18,0.000000,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.210000,28.7
6,0.08829,12.5,7.87,0.069959,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.430000,22.9
7,0.14455,12.5,7.87,0.000000,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.150000,27.1
8,0.21124,12.5,7.87,0.000000,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.930000,16.5
9,0.17004,12.5,7.87,0.069959,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.100000,18.9
10,0.22489,12.5,7.87,0.000000,0.524,6.377,94.3,6.3467,5,311,15.2,392.52,20.450000,15.0
11,0.11747,12.5,7.87,0.000000,0.524,6.009,82.9,6.2267,5,311,15.2,396.90,13.270000,18.9
12,0.09378,12.5,7.87,0.000000,0.524,5.889,39.0,5.4509,5,311,15.2,390.50,15.710000,21.7
13,0.62976,0.0,8.14,0.000000,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.260000,20.4
14,0.63796,0.0,8.14,0.069959,0.538,6.096,84.5,4.4619,4,307,21.0,380.02,10.260000,18.2
15,0.62739,0.0,8.14,0.000000,0.538,5.834,56.5,4.4986,4,307,21.0,395.62,8.470000,19.9
16,1.05393,0.0,8.14,0.000000,0.538,5.935,29.3,4.4986,4,307,21.0,386.85,6.580000,23.1
17,0.78420,0.0,8.14,0.000000,0.538,5.990,81.7,4.2579,4,307,21.0,386.75,14.670000,17.5
18,0.80271,0.0,8.14,0.000000,0.538,5.456,36.6,3.7965,4,307,21.0,288.99,11.690000,20.2
19,0.72580,0.0,8.14,0.000000,0.538,5.727,69.5,3.7965,4,307,21.0,390.95,11.280000,18.2