# Chapter 12

#  Spot-Check Regression Algorithms

In [8]:
import pandas as pd

In [9]:
dataframe=pd.read_csv('weight-height.csv')

In [10]:
dataframe

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [11]:
dataframe.shape

(10000, 3)

In [12]:
df=pd.get_dummies(dataframe)

In [13]:
df

         Height      Weight  Gender_Female  Gender_Male
0     73.847017  241.893563          False         True
1     68.781904  162.310473          False         True
2     74.110105  212.740856          False         True
3     71.730978  220.042470          False         True
4     69.881796  206.349801          False         True
...         ...         ...            ...          ...
9995  66.172652  136.777454           True        False
9996  67.067155  170.867906           True        False
9997  63.867992  128.475319           True        False
9998  69.034243  163.852461           True        False
9999  61.944246  113.649103           True        False

[10000 rows x 4 columns]

# 12.2 Linear Machine Learning Algorithms

#  12.2.1 Linear Regression

In [14]:
 #  # Linear Regression
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.linear_model import LinearRegression
 
 array = df.values
 X = array[:,0:2]
 Y = array[:,2]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model = LinearRegression()
 scoring = 'neg_mean_squared_error'
 results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
 print(results.mean())

-0.08773709160118487

#  12.2.2 Ridge Regression

In [15]:
 # Ridge Regression
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.linear_model import Ridge
 
 array = df.values
 X = array[:,0:2]
 Y = array[:,2]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model = Ridge()
 scoring = 'neg_mean_squared_error'
 results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
 print(results.mean())

-0.08773709135714662

# 12.2.3 LASSO Regression

In [17]:
 #  # Lasso Regression
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.linear_model import Lasso
 
 array = df.values
 X = array[:,0:2]
 Y = array[:,2]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model = Lasso()
 scoring = 'neg_mean_squared_error'
 results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
 print(results.mean())

-0.09230503792082191

#  12.2.4 ElasticNet Regression

In [19]:
 # ElasticNet Regression
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.linear_model import ElasticNet
 
 array = df.values
 X = array[:,0:2]
 Y = array[:,2]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model =  ElasticNet()
 scoring = 'neg_mean_squared_error'
 results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
 print(results.mean())

-0.09158473892033617

# 12.3 Nonlinear Machine Learning Algorithms

#  12.3.1 K-Nearest Neighbors

In [20]:
 # KNN Regression
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.neighbors import KNeighborsRegressor
 
 array = df.values
 X = array[:,0:2]
 Y = array[:,2]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model = KNeighborsRegressor()
 scoring = 'neg_mean_squared_error'
 results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
 print(results.mean())

-0.07405600000000001

# 12.3.2 Classification and Regression Trees

In [21]:
 # KNN Regression
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.tree import DecisionTreeRegressor
 
 array = df.values
 X = array[:,0:2]
 Y = array[:,2]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model = DecisionTreeRegressor()
 scoring = 'neg_mean_squared_error'
 results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
 print(results.mean())

-0.12580000000000002

#  12.3.3 Support Vector Machines

In [22]:
 # SVM Regression
 from pandas import read_csv
 from sklearn.model_selection import KFold
 from sklearn.model_selection import cross_val_score
 from sklearn.svm import SVR
 
 array = df.values
 X = array[:,0:2]
 Y = array[:,2]
 num_folds = 10
 kfold = KFold(n_splits=10, random_state=7,shuffle=True)
 model = SVR()
 scoring = 'neg_mean_squared_error'
 results = cross_val_score(model, X, Y, cv=kfold, scoring=scoring)
 print(results.mean())

-0.06906373933385337